@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Poppins:wght@100;200;500&family=Roboto:wght@300&display=swap');
* {
    margin : 0;
    padding : 0;
    list-style : none ;
    text-decoration : none;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1140px;
}
.background_img {
    height: 1024px;
    background-image: url("../imgs/background_image_one.png");
}
.header_words {
    padding-top: 20px;
    display: flex;
}
.words {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    padding-top: 7px;
    height: 60px;
    font-size: 20px;
    margin: 0 auto;
    background-color: #FFFFFF;
    width: 1170px;
    padding-left: 30px;
}
.home {
    color: #5956E9;
    text-decoration: underline;
}
.appolly {
    width: 200px;
    height: 90px;
    font-size: 2px;
    text-align: center;
    margin-left: 100px;
    border-radius: 7px;
    background-color: white;
    margin-bottom: 4px;
}
.appolly_img {
    width: 167px;
    height: 28px;
    margin-top: 30px;
}
.download {
    width: 158px;
    height: 50px;
    font-size: 20px;
    border: 0;
    padding-top: 6px;
    margin-bottom: 5px;
    color: #FFFFFF;
    background-color: #5956E9;
    border-radius: 7px;
    margin-left: 35px;
}
.info { 
    display: flex;
    gap: 50px;
    padding-top: 40px;
}