@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Poppins:wght@100;200;500&family=Roboto:wght@300&display=swap');
* {
    margin : 0;
    padding : 0;
    list-style : none ;
    text-decoration : none;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1140px;
}
header {
    width: 100%;
    position: fixed;
    top: 35px;
    left: 0;
}
#header_info {
    display: flex;
    gap: 45px;
    align-items: center;
}
#header_info a {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    display: flex;
    align-items: center;
}
#header_info a i {
    padding-right: 10px;
    font-size: 17px;
}
#first_section {
    height: 100vh;
    max-height: 1024px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../imgs/background_image_one.png");
}
#header_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header_social_medias {
    display: flex;
    gap: 30px;
}
#header_social_medias a {
    color: white;
}
#header_bottom {
    height: 60px;
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: relative;
}
#header_bottom ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#header_bottom ul li,
#header_bottom ul li a {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding-left: 25px;
}
#header_bottom ul li:nth-child(4) {
    width: 220px;
}
#logo {
    width: 190px;
    height: 90px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    padding: 20px;
}
#logo img {
    max-width: 100%;
}
#header_bottom ul li button {
    background-color: #5851EA;
    color: white;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    width: 150px;
    height: 50px;
    margin-right: 5px;
    border: 0;
    border-radius: 5px;
}
.home {
    text-decoration: underline;
    color: #5851EA;
}
@media screen and (max-width:1200px) {
    #header_bottom ul li a {
        font-size: 17px;
    }
    #header_bottom ul {
        /* width: calc((100% - 200px) / 2); */
    }
    #header_bottom ul li:nth-child(4) {
        width: 250px;
    } 
    #logo {
        width: 180px;
        height: 80px;
    }
    .field_column {
        width: 32%;
    }
    .field_column .field {
        width: 100%;
    }
}
@media screen and (max-width:1024px) {
    #header_bottom ul li a {
        font-size: 14px;
    }
    #header_bottom ul {
        width: calc((100% - 160px) / 2);
    }
    #logo {
        width: 140px;
        height: 80px;
    }
    #header_bottom ul button {
        width: 100px;
        font-size: 15px; 
    }
    .field h5 {
        font-size: 20px;
        line-height: 30px;
        margin: 22px 0 18px 0;
    }
    .field p {
        font-size: 16px;
        line-height: 24px;
    }
}
@media screen and (max-width:768px) {
    #header_bottom ul {
        display: none;
    }
}
.background_img {
    height: 1024px;
    background-image: url("../imgs/background_image_one.png");
}
.white_frame {
    width: 570px;
    height: 432px;
    margin-top: 200px;
    position: relative;
    z-index: 1;
    background-color: white;
}
.white_frame::before {
    content: "";
    width: 535px;
    height: 535px;
    position: absolute;
    z-index: -2;
    top: -70px;
    left: 50px;
    border: 18px solid #7572FF;
}
.white_frame::after {
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: white;
    position: absolute;
}
.border {
    display: flex;
    padding-top: 100px;
}
.phone {
    padding-left: 100px;
}
.great {
    font-size: 48px;
    font-weight: 700;
    color: #5956E9;
    padding-left: 60px;
    padding-top: 50px;
}
.amet {
    font-size: 16px;
    font-weight: 400;
    padding-left: 60px;
    padding-top: 15px;
    width: 540px;
}
.download_app_now {
    font-size: 30px;
    font-weight: 600;
    padding-left: 60px;
    padding-top: 80px;
}
.google_play {
    padding-left: 60px;
    padding-top: 20px;
}
.ppppp {
    width: 646px;
    height: 725px;
    margin-top: 100px;
    margin-left: 100px;
}
.about_our_app {
    margin-top: 150px;
    text-align: center;
}
.about {
    font-size: 32px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first_lorem {
    font-size: 16px;
    font-weight: 400;
    padding-top: 50px;
    width: 600px;
    margin-left: 280px;
}
.phone_two {
    width: 400px;
    height: 620px;
    margin-top: 80px;
}
.creative_design {
    font-size: 20px;
    font-weight: 600; 
}
.second_lorem {
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
}
.tel_about {
    display: flex;
    justify-content: space-between;
    gap: 200px;
}
.all_two {
    background-color:#f7f3f3;
    border-radius: 10px;
    width: 600px;
    height: 150px;
    margin-top: 80px;
    padding: 30px;
}
#third_section {
    min-height: 1824px;
    margin-top: 150px;
    background-image: url("../imgs/pho.png");
}
#third_section_head {
    text-align: center;
    margin: 0 auto;
    width: 600px;
    padding-top: 120px;
}
#third_section_head h4 {
    font-size: 31px;
    font-weight: 700;
    line-height: 47px;
    color: #FFF;
}
#third_section_head p {
    padding-top: 18px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.field {
    width: 300px;
    height: 175px;
}
.field h5 {
    font-size: 25px;
    font-weight: 600;
    line-height: 37.5px;
    color: #FFF;
    margin: 22px 0 18px 0;
}
.field p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFF;
}
.field.center {
    text-align: center;
}
.field.right {
    text-align: right;
}
.field.left {
    text-align: left;
}
.fields_corner {
    display: flex;
    margin-top: 60px;
    justify-content: center;
}
.pho_tel {
    border-radius: 50px;
    margin: 0 auto;
}
#fields_center {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.field_column:nth-child(2n + 1) {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.field_column:nth-child(2) img {
    width: 100%;
}
.field_column:nth-child(2) {
    width: 30%;
}
.checkout {
    font-size: 32px;
    font-weight: 700;
}
.lorem_seven {
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
    width: 600px;
    margin-top: 40px;
}
.checkout_lorem {
    text-align: center;
    margin-top: 150px;
}
.five_images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.one_img {
    width: 246px;
    height: 532px;
}
.two_img{
    width: 246px;
    height: 532px;
}
.three_img{
    width: 319px;
    height: 622px;
}
.four_img{
    width: 246px;
    height: 532px;
}
.five_img{
    width: 246px;
    height: 532px;
    border-radius: 30px;
}
.five_noqte {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.down {
    margin-top: 200px;
}
.download_app {
    font-size: 32px;
    font-weight: 700;
}
.lorem_eight {
    width: 570px;
    height: 87px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
}
.play_store {
    margin-top: 30px;
}
.kub_three {
    margin-top: 80px;
    width: 170px;
    height: 176px;
    border-radius: 10px;
    background-color: #5851EA;
}
.save {
    text-align: center;
    padding-top: 40px;
}
.reqem {
    font-size: 25px;
    font-weight: 600;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
.download_kub {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
.kub_three_th {
    display: flex;
    gap: 50px;
}
.two_images {
    width: 516px;
    height: 480px;
    
}
.two_phone {
    width: 516px;
    height: 480px;
}
.middle {
    height: 477px;
    margin-top: 100px;
    background-image: url("../imgs/pho.png");
}
.how_lorem {
    text-align: center;
    padding-top: 150px;
}
.how_to_use {
    font-size: 32px;
    font-weight: 700;
    color: #FFF;
}
.lorem_nine {
    font-size: 16px;
    font-weight: 400;
    width: 601px;
    height: 70px;
    padding-top: 50px;
    margin: 0 auto;
    color: #FFF;
}
.table_computer {
    width: 770px;
    height: 319px;
    margin-top: 70px;
    border-radius: 10px;
}
.our_lorem {
    text-align: center;
    padding-top: 150px;
}
.our_reative_team {
    font-size: 31.25px;
    font-weight: 700;
}
.lorem_teen {
    width: 601px;
    height: 70px;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 50px;
}
.three_secim {
    width: 370px;
    height: 580px;
    background-color: white;
    border: 5px solid rgb(247, 243, 243);
    margin-top: 50px;
    border-radius: 10px;
}
.girl_photo {
    border-radius: 50%;
    margin-left: 85px;
    margin-top: 50px;
}
.carla_press {
    font-size: 32px;
    font-weight: 700;
}
.midd {
    margin-top: 100px;
}
.app_developers{
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    color: #6C6C72;
}
.lorem_eleven {
    width: 326px;
    height: 61px;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
    padding-top: 15px;
}
.carla_app_lorem {
    text-align: center;
    padding-top: 100px;
}
.social {
    width: 300px;
    padding-top: 15px;
}
.butun {
    display: flex;
    gap: 30px;
}
.our_recent_lorem {
    text-align: center;
    margin-top: 150px;
}
.our_recent_blog {
    font-size: 32px;
    font-weight: 700;
}
.lorem_twelve {
   width: 600px;
   font-size: 16px;
   font-weight: 400;
   margin: 0 auto;
   padding-top: 30px;
}
.snap_insta_pho {
    width: 370px;
    height: 500px;
    margin-top: 70px;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(239, 245, 239);
}
.snapchat {
    width: 370px;
    height: 228px;
    border-radius: 10px 10px 0px 0px;
}
.the_snap_lorem {
    margin-top: 50px;
    padding: 25px;
}
.the_snap {
    font-size: 20px;
    font-weight: 600;
}
.lorem_thirdteen {
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
}
.read_more {
    color: #5851EA;
    font-size: 20px;
    font-weight: 600;
}
.read {
    padding-top: 30px;
    text-decoration: underline;
}
.snap_insta {
    display: flex;
    gap: 30px;
}
.footer_color {
    background-color: rgb(32, 32, 32);
    height: 545px;
    margin-top: 250px;
}
.logo_quick_news {
    color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 200px;
    gap: 200px;
}
.logo {
    font-size: 32px;
    font-weight: 700;
}
.quick_link {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}
.news_letter {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 80px;
    padding-top: 60px;
}
.lrm {
    font-size: 16px;
    font-weight: 400;
    padding-top: 30px;
}
.footer_about {
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
}
.four_link {
    padding-top: 30px;
}
.four {
    display: flex;
    gap: 50px;
    padding-top: 30px;
}
.subscribe {
    font-size: 16px;
    font-weight: 400;
    width: 300px;
    padding-top: 30px;
}
.email {
    width: 369px;
    height: 50px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
}
.email_your {
    padding-top: 30px;
}
/* .email_address {
    background-color: #5851EA;
    height: 50px;
    width: 50px;
} */